<hr class="">
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
          <h1 class="">max lorem </h1>
             <!-- <h1 class=""><%#=current_user.profile_first_name current_user.profile_last_name%> </h1> -->


<br>
        </div>
      <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="https://wow.zamimg.com/uploads/screenshots/small/716992.jpg"></a>

        </div>
    </div>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Company</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">location</strong></span> lorem</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">job title</strong></span> lorem</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">department </strong></span>lorrem</li>

            </ul>
           <div class="panel panel-default">
             <div class="panel-heading">lunch typ

                </div>
                <div class="panel-body"><i style="color:green" class="fa fa-check-square"></i>
                  lorem lunch typ
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">lunches</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">review</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">stars</strong></span> 4</li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">  <i class="fa fa-facebook fa-2x"></i>  <i class="fa fa-github fa-2x"></i>
                    <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i>  <i class="fa fa-google-plus fa-2x"></i>

                </div>
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
            <button type="button" class="btn btn-success">Match me</button>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">last lunches</div>
                <div class="panel-body">
                  <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img alt="300x200" src="https://source.unsplash.com/300x200/?dinner">
            <div class="caption">
              <h3>
                Rover
              </h3>
              <p>
                was great!
              </p>
              <p>

              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img alt="300x200" src="https://source.unsplash.com/300x200/?lunch">
            <div class="caption">
              <h3>
                Marmaduke
              </h3>
              <p>
                Had a good conversation about air travel.
              </p>
              <p>

              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img alt="300x200" src="https://source.unsplash.com/300x200/?breakfast">
            <div class="caption">
              <h3>
                Rocky
              </h3>
              <p>
                Loved the food learned a lot about marketing.
              </p>
              <p>

              </p>
            </div>
                </div>

            </div>

            </div>

        </div>

    </div>
           <div class="panel panel-default">
                <div class="panel-heading">Max Lorem</div>
                <div class="panel-body"> A long description about me.

                </div>
</div></div>


            <div id="push"></div>
        </div>
        <footer id="footer">
            <div class="row-fluid">
                <div class="span3">
                    <p>
                        <a href="http://twitter.com/Bootply" rel="nofollow" title="Bootply on Twitter" target="ext">Twitter</a><br>
                        <a href="https://plus.google.com/+Bootply" rel="publisher">Google+</a><br>
                        <a href="http://facebook.com/Bootply" rel="nofollow" title="Bootply on Facebook" target="ext">Facebook</a><br>
                        <a href="https://github.com/iatek/bootply" title="Bootply on GitHub" target="ext">GitHub</a><br>
                    </p>
                </div>
            </div>
        </footer>

        <script src="/plugins/bootstrap-select.min.js"></script>
        <script src="/codemirror/jquery.codemirror.js"></script>
        <script src="/beautifier.js"></script>






  <script src="/plugins/bootstrap-pager.js"></script>
</div>
