#exampleModalLabel {
  color: #484848 !important;

  h3 {
    bottom-margin: 0px;
  }
}

.modal-header {
  position: relative !important;
}

.close-1 {
  position: absolute !important;
  right: 10px;
  top: 5px;
}
