// Specific CSS for your home-page
header.banner {
  height: calc(100vh - 70px);
  background-image: linear-gradient(-225deg, rgba(0,36,61,0.6) 50%, rgba(0,36,61,0.6) 50%), url("https://images.unsplash.com/photo-1523029887627-f6c9879eacaf?ixlib=rb-0.3.5&s=39f69619734a85da8461e72ba749943e&auto=format&fit=crop&w=1050&q=80");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  color: white;
}
header.banner p {
  font-size: 24px;
  margin-bottom: 20px;
  margin: 0 0 13.5px;
}
header.banner h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
header.headline {
  display: block;
  margin: 0 0 20px;
  text-transform: uppercase;
}
header.content-header {
  padding-bottom: 30px;
}
#btn-banner {
  margin-top: 30px;
  width: 250px;
  height: 50px;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border-color: #ffffff !important;
  letter-spacing: 2px;
  padding-top: 14px;
  border: 1px solid #ffffff !important;
  font-size: 16px;
}
#btn-banner:hover {
  color: #000000 !important;
  background-color: #ffffff;
  border: 1px solid #ffffff !important;
}
.padded {
  padding-top: 4em;
  padding-bottom: 4em;
}
.overview-landing-page {
  padding-top: 30px;
}
.description-icon {
 width: 100px;
 height: 100px;
 border: 3px solid #469AE0;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 color: #469AE0 !important;
 margin-left: 36%;
}
.banner-lp {
  color: white;
  text-align: center;
  min-height: 300px;
  height: 600px;
  background-image: linear-gradient(-225deg, rgba(0,36,61,0.6) 50%, rgba(0,36,61,0.6) 50%), url(https://images.unsplash.com/photo-1508834633996-7ca4bc707cf8?ixlib=rb-0.3.5&s=4baedd8ba171668fa44dee512a37cb25&auto=format&fit=crop&w=1030&q=80);
  background-position: top center;
  background-size: cover !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
#banner-background-add {
  background-image: linear-gradient(-225deg, rgba(0,36,61,0.6) 50%, rgba(0,36,61,0.6) 50%), url(https://images.unsplash.com/photo-1525078459500-9e1a0dd292ab?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=1754ee6a32c758d304f55414411c8864) !important;
}
.h2 {
  font-size: 48px;
}
.h {
  display: block;
  margin: 0 0 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.teaser {
  position: relative;
  max-width: 650px;
  z-index: 2;
  display: inline-block;
}
.section-heading {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  display: block;
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 48px;
}
.banner-help {
  color: white;
  text-align: center;
  min-height: 300px;
  height: 600px;
  width: 100%;
  background-image: linear-gradient(-225deg, rgba(0,36,61,0.6) 50%, rgba(0,36,61,0.6) 50%), url(https://images.unsplash.com/photo-1418225162054-0f773a996f9e?ixlib=rb-0.3.5&s=3a2bd5572432b45991f5059ab2b58ad7&auto=format&fit=crop&w=1058&q=80);
  background-position: top center;
  background-size: cover !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.description {
  font-weight: normal;
}
.panel-group {
  margin-bottom: 27px;
}
.panel-default {
  border-color: #ddd !important;
}

.panel-default-1 {
  border-color: #fff !important;
}

.panel {
  margin-bottom: 27px;
  box-shadow: none;
}
.panel-body-faq {
  padding: 15px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21px;
  color: inherit;
}
.panel-heading-last {
  background-color: #f4f4f4 !important;
  border-bottom: 0px solid #e0e0e0 !important;
  background-color: #f4f4f4 !important;
  border-bottom: 1px solid #e0e0e0 !important;
}
.panel-heading.accordion-toggle .panel-title:after {
  font-family: 'Glyphicons Halflings';
  content: "\e113";
  float: right;
}
.panel-heading.accordion-toggle.collapsed .panel-title:after {
  content: "\e114";
}
.help-card {
  margin-top: 20px;
}
#help-contact {
  margin-top: 10px;
  height: 100px;
  width: 100px;
}
#mail-to:hover {
  text-decoration: none !important;
  img {
    width:100px;
    border: 3px solid #469AE0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
  }
}
.panel-title {
  cursor: pointer;
}
.fa-edit {
  padding-left: 15px;
  padding-bottom: 5px;
}
.fa-rocket {
  padding-right: 5px;
  padding-top: 5px;
}
.anchor{
  display: block;
  height: 70px; /*same height as header*/
  margin-top: -70px; /*same height as header*/
  visibility: hidden;
}
.body {
  color: #000000
}





