<footer class="footer-distributed">

  <div class="footer-left">

    <%= cl_image_tag("GetWet", height: 50) %>

    <p class="footer-links">
      <a href="#">Home</a>
      路
      <a href="#">Pools</a>
      路
      <a href="#">About</a>
      路
      <a href="#">FAQ</a>
      路
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Copyright &copy; GetWet 2018</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Rudi-Dutschke-Str. 26</span> Berlin, Germany</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+49 123 4567 890</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:get@wet.com">get@wet.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the GetWet</span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quo minus cupiditate maxime at sequi aperiam optio laudantium illo saepe suscipit odit, ducimus placeat rem tempora modi, numquam. Quos, velit.
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>

    </div>

  </div>

</footer>
