
<div class="backgroundconforamtion ">
  <br>
  <br>
<div class="text-center headline" ><h1>YOU LUNCH BUDDY IS </h1></div>


<div class="conformationcontainer fade-in">
  <div class="avatar-flip">
    <img src="http://media.idownloadblog.com/wp-content/uploads/2012/04/Phil-Schiller-headshot-e1362692403868.jpg" height="150" width="150">
  </div>
  <h2>John Smith</h2>
  <h4>JOB TITLE </h4>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt explicabo, delectus necessitatibus sequi rem quo culpa quasi repudiandae officiis aliquid dignissimos nobis sit laborum, dolorem distinctio tempora est voluptates ratione? </p>
  <p>Lorem</p>
  <%= link_to "Confirm", profile_path(current_user), class: "btn btn-primary" %>
</div>
<br>
<br>
<br>
</div>

