


<header class="masthead ">
      <div class="container my-auto">
        <div class="row ">
          <div class="mx-auto ">
            <h1 class="text-uppercase">
              <strong>LET`S GO LUNCH</strong>
            </h1>
            <hr>
          </div>
          <div class="mx-auto banner-content">
            <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

   <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class=" text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.  </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="mx-auto text-center">
            <h2 class="section-heading">WHAT’S IN IT FOR ME?</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <div class="mx-auto">
              <i class="fa fa-4x far fa-handshake"></i>
              <h3 class="mb-3">meet new colleagues</h3>
              <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <div class="mx-auto">
              <i class="fas fa-utensils fa fa-4x"></i>
              <h3 class="mb-3">Lunch together</h3>
              <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <div class="mx-auto">
              <i class="fa fa-4x far fa-comments"></i>
              <h3 class="mb-3">discuss new ideas</h3>
              <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
