


<header class="masthead ">
      <div class="container my-auto">
        <div class="row ">
          <div class="mx-auto ">
            <h1 class="text-uppercase">
              <strong>LET`S GO LUNCH</strong>
            </h1>
          </div>
          <div class="mx-auto banner-content">
            <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

   <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class=" text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <p class="text-faded mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.  </p>
            <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="benefits">
      <div class="container">
        <div class="row">
          <div class="mx-auto text-center">
            <h2 class="section-heading">Benefits?</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <div class="mx-auto">
              <i class="fa fa-4x far fa-handshake"></i>
              <h3 class="mb-3">meet new colleagues</h3>
              <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <div class="mx-auto">
              <i class="fas fa-chart-line fa fa-4x"></i>
              <h3 class="mb-3">Team building</h3>
              <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <div class="mx-auto">
              <i class="fa fa-4x far fa-comments"></i>
              <h3 class="mb-3">discuss new ideas</h3>
              <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="banner-lp">
      <div class="layer"></div>
      <div class="container text-center padded features teaser is-inverted">
        <div class="h2 h text-center">learn something new every lunch</div>
      </div>
    </div>

    <section id="how-it-works">
      <div class="container">
        <div class="row">
          <div class="mx-auto text-center">
            <h2 class="section-heading">How it works?</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <div class="mx-auto">
              <i class="fa fa-4x far fa-building"></i>
              <h3 class="mb-3">sign up your company</h3>
              <p class="text-muted mb-0">sign up your company</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <div class="mx-auto">
              <i class="fas fa-clock fa fa-4x"></i>
              <h3 class="mb-3">Pick a date</h3>
              <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
           <div class="col-xs-12 col-sm-4 text-center">
            <div class="mx-auto">
              <i class="fas fa-utensils fa fa-4x"></i>
              <h3 class="mb-3">Lunch together</h3>
              <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section id="faq">
      <div class = "mx-auto text-center">
      <h2>FAQ</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sequi, obcaecati tenetur sunt sit quis provident, eius qui! Debitis vel est esse suscipit laboriosam, magnam delectus mollitia iure tempora tenetur!</p>
      </div>

    </section>



