<div class="container">
  <h1>Pricing</h1>
  <table class="pricing-table">
    <thead>
      <tr>
        <th class="title">
        </th>
        <th class="col-1">
          <h4 class="price-categories">
            Starter
          </h4>
          <br>
          <span class="price-categories-num">societies & npos</span>
          <div class="price-categories-price">FREE</div>
          <br>
          <a href="#" class="btn btn-primary" id="btn-pricing">Get started</a>
        </th>
        <th class="col-2">
          <h4 class="price-categories">
            Small
          </h4>
          <br>
          <span class="price-categories-num">1-50 employees</span>
          <div class="price-categories-price">month/ 50€</div>
          <br>
          <a href="#" class="btn btn-primary" id="btn-pricing">Get started</a>
        </th>
        <th class="col-3">
          <h4 class="price-categories">
            Medium
          </h4>
          <br>
          <span class="price-categories-num">51-200 employees</span>
          <div class="price-categories-price">month/ 100€</div>
          <br>
          <a href="#" class="btn btn-primary" id="btn-pricing">Get started</a>
        </th>
        <th class="col-4">
          <h4 class="price-categories">
            Large
          </h4>
          <br>
          <span class="price-categories-num">201-1,000 employees</span>
          <div class="price-categories-price">month/ 150€</div>
          <br>
          <a href="#" class="btn btn-primary" id="btn-pricing">Get started</a>
        </th>
        <th class="col-5">
          <h4 class="price-categories">
            Large +
          </h4>
          <br>
          <span class="price-categories-num">1,001-5,000 employees</span>
          <div class="price-categories-price">month/ 200€</div>
          <br>
          <a href="#" class="btn btn-primary" id="btn-pricing">Get started</a>
        </th>
        <th class="col-6">
          <h4 class="price-categories">
            Enterprise
          </h4>
          <br>
          <span class="price-categories-num">5000+ employees</span>
          <div class="price-categories-price">Custom</div>
          <br>
          <a href="#" class="btn btn-default" id="btn-pricing">Contact us</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="title">unlimited lunch dates</td>
        <td class="col-1">✔</td>
        <td class="col-2">✔︎</td>
        <td class="col-3">✔︎</td>
        <td class="col-4">✔︎</td>
        <td class="col-5">✔︎</td>
        <td class="col-6">✔︎</td>
      </tr>
      <tr>
        <td class="title">review funtion</td>
        <td class="col-1">✔</td>
        <td class="col-2">✔︎</td>
        <td class="col-3">✔︎</td>
        <td class="col-4">✔︎</td>
        <td class="col-5">✔︎</td>
        <td class="col-6">✔︎</td>
      </tr>
      <tr>
        <td class="title">messaging service</td>
        <td class="col-1">✔</td>
        <td class="col-2">✔︎</td>
        <td class="col-3">✔︎</td>
        <td class="col-4">✔︎</td>
        <td class="col-5">✔︎</td>
        <td class="col-6">✔︎</td>
      </tr>
      <tr>
        <td class="title">reminder service</td>
        <td class="col-1">✔</td>
        <td class="col-2">✔︎</td>
        <td class="col-3">✔︎</td>
        <td class="col-4">✔︎</td>
        <td class="col-5">✔︎</td>
        <td class="col-6">✔︎</td>
      </tr>
      <tr>
        <td class="title">restaurant recommendation</td>
        <td class="col-1">✔</td>
        <td class="col-2">✔︎</td>
        <td class="col-3">✔︎</td>
        <td class="col-4">✔︎</td>
        <td class="col-5">✔︎</td>
        <td class="col-6">✔︎</td>
      </tr>
      <tr>
        <td class="title">information about your lunch buddy</td>
        <td class="col-1">✔</td>
        <td class="col-2">✔︎</td>
        <td class="col-3">✔︎</td>
        <td class="col-4">✔︎</td>
        <td class="col-5">✔︎</td>
        <td class="col-6">✔︎</td>
      </tr>
    </tbody>
  </table>
</div>






