/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 72px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

.border-letter h3 span{
  color:  #ffffff;
  border: solid 1px #000000;
  margin: 0;
}
.navbar-wagon-left h3{
  color:  $blue;
}

.navbar-wagon-left {
  color: $red;
}

/* Logo */
.navbar-wagon-brand img {
  height: 35px;
  padding: 0px 20px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.navbar-wagon-search {
  padding: 0px 20px;
}

/* Left section */
.navbar-wagon-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #484848 !important;
  font-size: 14px;
  border-bottom: 2px solid rgba(0,0,0, 0.0) !important;
  border-radius: 0px;
}
.navbar-wagon-link:hover {
  color: #0B81CA;
  background-color: #ffffff !important;
  border-bottom: 2px solid #484848 !important;
  text-decoration: none;
  border-radius: 0px;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  margin-right: 10px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  color: #616668 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: #0B81CA !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.navbar-wagon-button {
  background: #00a0e1;
  border: 0px solid #ffffff !important;
  border-radius: 5px;
  color: #ffffff;
  opacity: 0.95;
  font-size: 14px;
  letter-spacing: .4px;
  padding: 10px 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.navbar-wagon-button:hover {
  color: #00a0e1;
  text-decoration: none;
  background-color: #ffffff;
  border-color: #ffffff;
  opacity: 0.95;
}
#banner-typed-text {
  color: grey;
  font-weight: lighter;
}

#Navbar_Java {
  border-bottom: 1px solid #D63037;
  opacity: 0.7;
}
.fa-user-circle {
  color: #616668;
}

.nav-pills {
  height: 70px;
}


.navbar-wagon-item {
  color: #484848 !important;
  padding: 25px 15px !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #ffffff;
  border-bottom: 2px solid #469AE0 !important;
  border-radius: 0px;
}

.bttn {
  border: 1px solid #469AE0 !important;
}

.bttn:hover {
  border: 1px solid #469AE0 !important;
}


